[submodule "csv-parser"]
	path = csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "bakkesmodsdk"]
	path = bakkesmodsdk
	url = git@github.com:mgavin/bakkesmodsdk
[submodule "imgui_sugar"]
	path = imgui_sugar
	url = https://github.com/mnesarco/imgui_sugar
[submodule "implot_bakkesmod"]
	path = implot_bakkesmod
	url = git@github.com:mgavin/implot_bakkesmod
